* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4a148c;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}